
<div class="contactSection">
  <div class="contactDiv">
    <p>contact me</p>

    <div class="info">
      <i class="fa fa-envelope-o"></i>
      <span>meade.slocomb@gmail.com</span>
    </div>

    <div class="info">
      <i class="fa fa-phone"></i>
      <span>770.896.7758</span>
    </div>

    <a href="https://github.com/MeadeSlocomb">
      <i class="fa fa-github-square"></i>
    </a>

    <a href="https://www.linkedin.com/in/meadeslocomb">
      <i class="fa fa-linkedin-square"></i>
    </a>

  </div>
</div>
