<div class="skillsSection">

  <div class="skillContainer">
  <div class="iconPanel">
    <div class="iconDisplay">

      <div ng-click="expandedJS()" class="js accordion" ng-class="getJSClass()">
        <img class="skill javascript" src="images/javascript.png">
        <img class="skill angular" src="images/angularjs-logo.png">
        <img class="skill backbone" src="images/backbone.png">
        <img class="skill ajax" src="images/ajax.png">
      </div>

      <div ng-click="expandedCSS()" class="accordion" ng-class="getCSSClass()">
        <img class="skill css" src="images/css3.svg">
        <img class="skill sass" src="images/sass.png">
        <img class="skill foundation" src="images/zurbFoundation.svg">
        <img class="skill bourbon" src="images/bourbon-logo.png">
      </div>

    </div>
  </div>

  <div class="skillDesc">
    <p>I'm a front end web developer with experience carrying application development from planning to deployment.  While supremely excited about implementing app construction from the ground up, I can also get pumped up about debugging, maintenance or testing of a product that interests me. I recently made a career transition from financial bookkeeping and retail management to software development by way of the Iron Yard Academy’s Front End Engineering program.  Although successful and enthusiastic in my previous line of work, I find the prospect of working with a team to produce a tangible product with a real-world impact is ultimately far more exciting that sales and finance, which served as the impetus for my shift into web development.</p>
    <p>Download a pdf of my resume <a class="resumeLink" href="Meade_Slocomb_Resume.pdf">here.</a></p>
  </div>


</div>
</div>
