<div class="aboutSection">
  <div class="aboutDiv">
    <span>About</span>

    <p>Inspired by friends and family with experience in the field, I decided to make a career transition from management and financial bookkeeping to software development in January of 2015. Too rarely in our modern world does a career offer the opportunity to produce a tangible and impactful product. Web development affords that opportunity with the enormous benefit of being able to share that product across the globe.  With that in mind, it’s hard for for an unflinching optimist, big picture thinker, and humanist ideologue such as myself, to not be passionate about my field.</p>

    <p>When I’m not working (though it's hard to call it work when you're having so much fun), I'm probably hanging out with my dog, playing video games, listening to music, reading about history and politics, watching sports, playing poker, or backpacking.</p>

  </div>
</div>
