
<div class="contactSection">
  <div class="contactDiv">
    <p>contact</p>

    <div class="info">
      <a class="contactLink" href="mailto:meade.slocomb@gmail.com">
        <i class="fa fa-envelope-o"></i>
        <span>meade.slocomb@gmail.com</span>
      </a>
    </div>

    <div class="info">
      <a class="contactLink" href="tel:17708967758">
        <i class="fa fa-phone"></i>
        <span>770.896.7758</span>
      </a>
    </div>

    <div class="info">
      <a class="contactLink" href="https://github.com/MeadeSlocomb">
        <i class="fa fa-github-square"></i>
        <span>github.com/MeadeSlocomb</span>
      </a>
    </div>

    <div class="info">
      <a class="contactLink" href="https://www.linkedin.com/in/meadeslocomb">
        <i class="fa fa-linkedin-square"></i>
        <span>linkedin.com/in/MeadeSlocomb</span>
      </a>
    </div>

  </div>
</div>
