
<div class="portfolioSection">

  <div class="portContainer">

    <!-- CodeBytes -->
    <div class="project">

      <div class="projPic">
        <a href="http://development.codebytes-deployed.divshot.io/#/">
          <img src="images/codebytes.png">
          <div class="textLayerP">CodeBytes</div>
        </a>
      </div>

      <div class="projTitle">
        <a href="http://development.codebytes-deployed.divshot.io/#/"><span>CodeBytes</span></a>
      </div>

      <div class="projTagline">
        <span>Code. Conversation. Community.</span>
      </div>


      <div class="detailSection" ng-class="showCBDetails()">
        <div class="divider"></div>
        <div class="projDesc">
          <p>CodeBytes is a social network for software developers at every stage of the learning process. Users can seek assistance with problems, share "A-ha!" moments, or simply connect with fellow developers.  Posts can include embedded GitHub gists and has a fully sortable/searchable content system.</p>
        </div>
        <div class="projGit">
          <span>More information on GitHub:</span>
          <a class="ghLink" href="https://github.com/Code-Bytes">
            <div>
              <i class="fa fa-github"></i>
            </div>
          </a>
        </div>
      </div>

      <i ng-click="detailsCB()" class="fa fa-arrow-circle-o-down" ng-class="iconCB()"></i>
    </div>

    <!-- popQuiz! -->
    <div class="project">

      <div class="projPic">
        <a href="http://development.meade-popquiz.divshot.io/#/">
          <img src="images/popquiz.png">
          <div class="textLayerP">popQuiz!</div>
        </a>
      </div>

      <div class="projTitle">
        <a href="http://development.meade-popquiz.divshot.io/#/"><span>popQuiz!</span></a>
      </div>

      <div class="projTagline">
        <span>Frivilous, Trivilous</span>
      </div>

      <div class="detailSection" ng-class="showPQDetails()">
        <div class="divider"></div>
        <div class="projDesc">
          <p class="pqDesc">popquiz! is a community based trivia app. Players can create quizzes consisting of any number of questions and answers for other players to take.</p>
        </div>
        <div class="projGit">
          <span>More information on GitHub:</span>
          <a class="ghLink" href="https://github.com/MeadeSlocomb/PopQuiz">
            <div>
              <i class="fa fa-github"></i>
            </div>
          </a>
        </div>
      </div>

      <i ng-click="detailsPQ()" class="fa fa-arrow-circle-o-down" ng-class="iconPQ()"></i>
    </div>

    <!-- fud! -->
    <div class="project">

      <div class="projPic">
        <a href="http://nickleach.github.io/Restaurant/">
          <img src="images/fud.png">
          <div class="textLayerP">fud</div>
        </a>
      </div>

      <div class="projTitle">
        <a href="http://nickleach.github.io/Restaurant/"><span>fud</span></a>
      </div>

      <div class="projTagline">
        <span>Fictional Fine Dining with Panache</span>
      </div>

      <div class="detailSection" ng-class="showFDetails()">
        <div class="divider"></div>
        <div class="projDesc">
          <p class="fudDesc">FUD was a collabortive assignment with fellow front end engineering students Nick Leach and Bobby Fine at The Iron Yard Academy.  The content for this mockup of a restaurant webpage was drawn from several APIs.</p>
        </div>
        <div class="projGit">
          <span>More information on GitHub:</span>
          <a class="ghLink" href="https://github.com/nickleach/Restaurant">
            <div>
              <i class="fa fa-github"></i>
            </div>
          </a>
        </div>
      </div>

      <i ng-click="detailsF()" class="fa fa-arrow-circle-o-down" ng-class="iconF()"></i>
    </div>

  </div>
</div>
